services:
  postgres:
    image: postgres:16
    container_name: clashrecipe_db
    environment:
      POSTGRES_DB: clashrecipe
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: